<meta charset="UTF-8">
<div ng-controller="mainCtrl" class="container">
	
	 <div class="row">
	 	<div class="col-md-10">
	 	  <div class="col-md-12 postItem" ng-repeat = "art in articles">
            <h4><a ng-href="#/articleDetail/{{art.id}}" ng-click="showDetail(art)">{{art.title}}</a></h4>
            <div  ng-bind-html="art.content"></div>
       	   </div>
	 	</div>
	 	
	 	<div class="col-md-2" style="background:white;min-height:400px;">
	 		<h5>近期文章</h5>
	 		<ul>
	 			<li>Javascript面向对象编程</li>
	 			<li>第二篇文章</li>
	 		</ul>
	 		<h5>分类</h5>
	 		<ul>
	 			<li ng-repeat="cat in categories">{{cat.categoryName}}</li>
	 			<li><button class="btn btn-info" ng-click="showAddCategoryPanel()">添加分类</button>
	 			<li ng-show="isAddNewCategory"><input class="form-control" ng-model="newCategory">
	 				<button class="btn btn-success" ng-click="addCategory()">添加</button>
	 				<button class="btn btn-default" ng-click="cancelAddCategory()">取消</button>
	 			</li>
	 		</ul>
	 	</div>
      
     </div>
</div>